@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.5s;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  background-color: rgb(0, 0, 0);
  padding: 150px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 500px;
  width: 550px;
  padding: 40px;
  border-radius: 25px;
}

form:hover {
  border-color: white;
  box-shadow: 0px 0px 20px white;
}

form input {
  background: transparent;
  border: 2px solid cyan;
  outline: none;
  width: 56%;
  padding: 10px;
  padding-left: 20px;
  text-transform: capitalize;
  border-radius: 10px;
  margin-bottom: 50px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

form input:focus {
  border-color: white;
  box-shadow: 0px 0px 15px white;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
}

form select {
  text-align: center;
  color: black;
  background-color: transparent;
  border: 2px solid cyan;
  color: white;
  margin: 0 0 30px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 20px;
}

form select:focus {
  border-color: white;
}

form select option {
  color: white;
  background-color: black;
  border: none;
}

#submit {
  position: relative;
  border: 2px solid white;
  background-color: white;
  color: black;
  display: block;
  margin: 0 auto;
  width: 120px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

#submit:hover {
  background-color: black;
  color: white;
}